<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IBM.Data.Informix.AvatarSolucoes" version="3.0.8001.2" targetFramework="net451" />
  <package id="ibm.data.informix_x86" version="3.0.0.2" targetFramework="net451" />
  <package id="Npgsql" version="3.1.10" targetFramework="net451" />
</packages>